On branch master
Your branch is up-to-date with 'origin/master'.
Untracked files:
  (use "git add <file>..." to include in what will be committed)

INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
contrib/macosx/Info.plist
contrib/macosx/Pkg-Info.plist
depcomp
doc/Makefile
doc/Makefile.in
doc/libextractor.info
doc/mdate-sh
doc/stamp-vti
doc/texinfo.tex
doc/version.texi
install-sh
libextractor-uninstalled.pc
libextractor-uninstalled.sh
libextractor.pc
libextractor.pc.in
libtool
ltmain.sh
m4/Makefile
m4/Makefile.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
out
po/Makefile
po/Makefile.in
po/POTFILES
po/de.gmo
po/fr.gmo
po/ga.gmo
po/it.gmo
po/nl.gmo
po/pl.gmo
po/ro.gmo
po/rw.gmo
po/stamp-po
po/sv.gmo
po/uk.gmo
po/vi.gmo
src/Makefile
src/Makefile.in
src/common/.deps/
src/common/.libs/
src/common/Makefile
src/common/Makefile.in
src/common/convert.lo
src/common/convert.o
src/common/libextractor_common.la
src/common/unzip.lo
src/common/unzip.o
src/include/Makefile
src/include/Makefile.in
src/intlemu/.deps/
src/intlemu/Makefile
src/intlemu/Makefile.in
src/main/.deps/
src/main/.libs/
src/main/Makefile
src/main/Makefile.in
src/main/extract
src/main/extract.o
src/main/getopt.o
src/main/getopt1.o
src/main/libextractor.la
src/main/libextractor_la-extractor.lo
src/main/libextractor_la-extractor.o
src/main/libextractor_la-extractor_common.lo
src/main/libextractor_la-extractor_common.o
src/main/libextractor_la-extractor_datasource.lo
src/main/libextractor_la-extractor_datasource.o
src/main/libextractor_la-extractor_ipc.lo
src/main/libextractor_la-extractor_ipc.o
src/main/libextractor_la-extractor_ipc_gnu.lo
src/main/libextractor_la-extractor_ipc_gnu.o
src/main/libextractor_la-extractor_logging.lo
src/main/libextractor_la-extractor_logging.o
src/main/libextractor_la-extractor_metatypes.lo
src/main/libextractor_la-extractor_metatypes.o
src/main/libextractor_la-extractor_plugin_main.lo
src/main/libextractor_la-extractor_plugin_main.o
src/main/libextractor_la-extractor_plugins.lo
src/main/libextractor_la-extractor_plugins.o
src/main/libextractor_la-extractor_plugpath.lo
src/main/libextractor_la-extractor_plugpath.o
src/main/libextractor_la-extractor_print.lo
src/main/libextractor_la-extractor_print.o
src/main/libextractor_test.la
src/main/libextractor_test2.la
src/main/test-suite.log
src/main/test2_extractor.lo
src/main/test2_extractor.o
src/main/test_bzip2
src/main/test_bzip2.log
src/main/test_bzip2.o
src/main/test_bzip2.trs
src/main/test_extractor.lo
src/main/test_extractor.o
src/main/test_file
src/main/test_file.log
src/main/test_file.o
src/main/test_file.trs
src/main/test_gzip
src/main/test_gzip.log
src/main/test_gzip.o
src/main/test_gzip.trs
src/main/test_ipc
src/main/test_ipc.log
src/main/test_ipc.o
src/main/test_ipc.trs
src/main/test_plugin_load_multi
src/main/test_plugin_load_multi.log
src/main/test_plugin_load_multi.o
src/main/test_plugin_load_multi.trs
src/main/test_plugin_loading
src/main/test_plugin_loading.log
src/main/test_plugin_loading.o
src/main/test_plugin_loading.trs
src/main/test_trivial
src/main/test_trivial.log
src/main/test_trivial.o
src/main/test_trivial.trs
src/plugins/.deps/
src/plugins/.libs/
src/plugins/Makefile
src/plugins/Makefile.in
src/plugins/archive_extractor.lo
src/plugins/archive_extractor.o
src/plugins/deb_extractor.lo
src/plugins/deb_extractor.o
src/plugins/dvi_extractor.lo
src/plugins/dvi_extractor.o
src/plugins/exiv2_extractor.lo
src/plugins/exiv2_extractor.o
src/plugins/flac_extractor.lo
src/plugins/flac_extractor.o
src/plugins/gif_extractor.lo
src/plugins/gif_extractor.o
src/plugins/html_extractor.lo
src/plugins/html_extractor.o
src/plugins/it_extractor.lo
src/plugins/it_extractor.o
src/plugins/jpeg_extractor.lo
src/plugins/jpeg_extractor.o
src/plugins/libextractor_archive.la
src/plugins/libextractor_deb.la
src/plugins/libextractor_dvi.la
src/plugins/libextractor_exiv2.la
src/plugins/libextractor_flac.la
src/plugins/libextractor_gif.la
src/plugins/libextractor_gstreamer.la
src/plugins/libextractor_gstreamer_la-gstreamer_extractor.lo
src/plugins/libextractor_gstreamer_la-gstreamer_extractor.o
src/plugins/libextractor_html.la
src/plugins/libextractor_it.la
src/plugins/libextractor_jpeg.la
src/plugins/libextractor_man.la
src/plugins/libextractor_midi.la
src/plugins/libextractor_midi_la-midi_extractor.lo
src/plugins/libextractor_midi_la-midi_extractor.o
src/plugins/libextractor_mime.la
src/plugins/libextractor_mpeg.la
src/plugins/libextractor_nsf.la
src/plugins/libextractor_nsfe.la
src/plugins/libextractor_odf.la
src/plugins/libextractor_ogg.la
src/plugins/libextractor_ole2.la
src/plugins/libextractor_ole2_la-ole2_extractor.lo
src/plugins/libextractor_ole2_la-ole2_extractor.o
src/plugins/libextractor_pdf.la
src/plugins/libextractor_png.la
src/plugins/libextractor_ps.la
src/plugins/libextractor_riff.la
src/plugins/libextractor_rpm.la
src/plugins/libextractor_s3m.la
src/plugins/libextractor_sid.la
src/plugins/libextractor_thumbnailgtk.la
src/plugins/libextractor_thumbnailgtk_la-thumbnailgtk_extractor.lo
src/plugins/libextractor_thumbnailgtk_la-thumbnailgtk_extractor.o
src/plugins/libextractor_tiff.la
src/plugins/libextractor_wav.la
src/plugins/libextractor_xm.la
src/plugins/libextractor_zip.la
src/plugins/libtest.la
src/plugins/man_extractor.lo
src/plugins/man_extractor.o
src/plugins/mime_extractor.lo
src/plugins/mime_extractor.o
src/plugins/mpeg_extractor.lo
src/plugins/mpeg_extractor.o
src/plugins/nsf_extractor.lo
src/plugins/nsf_extractor.o
src/plugins/nsfe_extractor.lo
src/plugins/nsfe_extractor.o
src/plugins/odf_extractor.lo
src/plugins/odf_extractor.o
src/plugins/ogg_extractor.lo
src/plugins/ogg_extractor.o
src/plugins/pdf_extractor.lo
src/plugins/pdf_extractor.o
src/plugins/png_extractor.lo
src/plugins/png_extractor.o
src/plugins/ps_extractor.lo
src/plugins/ps_extractor.o
src/plugins/riff_extractor.lo
src/plugins/riff_extractor.o
src/plugins/rpm_extractor.lo
src/plugins/rpm_extractor.o
src/plugins/s3m_extractor.lo
src/plugins/s3m_extractor.o
src/plugins/sid_extractor.lo
src/plugins/sid_extractor.o
src/plugins/test-suite.log
src/plugins/test_archive
src/plugins/test_archive.log
src/plugins/test_archive.o
src/plugins/test_archive.trs
src/plugins/test_deb
src/plugins/test_deb.log
src/plugins/test_deb.o
src/plugins/test_deb.trs
src/plugins/test_dvi
src/plugins/test_dvi.log
src/plugins/test_dvi.o
src/plugins/test_dvi.trs
src/plugins/test_exiv2
src/plugins/test_exiv2.log
src/plugins/test_exiv2.o
src/plugins/test_exiv2.trs
src/plugins/test_flac
src/plugins/test_flac.log
src/plugins/test_flac.o
src/plugins/test_flac.trs
src/plugins/test_gif
src/plugins/test_gif.log
src/plugins/test_gif.o
src/plugins/test_gif.trs
src/plugins/test_gstreamer
src/plugins/test_gstreamer-test_gstreamer.o
src/plugins/test_gstreamer.log
src/plugins/test_gstreamer.trs
src/plugins/test_html
src/plugins/test_html.log
src/plugins/test_html.o
src/plugins/test_html.trs
src/plugins/test_it
src/plugins/test_it.log
src/plugins/test_it.o
src/plugins/test_it.trs
src/plugins/test_jpeg
src/plugins/test_jpeg.log
src/plugins/test_jpeg.o
src/plugins/test_jpeg.trs
src/plugins/test_lib.lo
src/plugins/test_lib.o
src/plugins/test_man
src/plugins/test_man.log
src/plugins/test_man.o
src/plugins/test_man.trs
src/plugins/test_midi
src/plugins/test_midi.log
src/plugins/test_midi.o
src/plugins/test_midi.trs
src/plugins/test_mime
src/plugins/test_mime.log
src/plugins/test_mime.o
src/plugins/test_mime.trs
src/plugins/test_mpeg
src/plugins/test_mpeg.log
src/plugins/test_mpeg.o
src/plugins/test_mpeg.trs
src/plugins/test_nsf
src/plugins/test_nsf.log
src/plugins/test_nsf.o
src/plugins/test_nsf.trs
src/plugins/test_nsfe
src/plugins/test_nsfe.log
src/plugins/test_nsfe.o
src/plugins/test_nsfe.trs
src/plugins/test_odf
src/plugins/test_odf.log
src/plugins/test_odf.o
src/plugins/test_odf.trs
src/plugins/test_ogg
src/plugins/test_ogg.log
src/plugins/test_ogg.o
src/plugins/test_ogg.trs
src/plugins/test_ole2
src/plugins/test_ole2.log
src/plugins/test_ole2.o
src/plugins/test_ole2.trs
src/plugins/test_png
src/plugins/test_png.log
src/plugins/test_png.o
src/plugins/test_png.trs
src/plugins/test_ps
src/plugins/test_ps.log
src/plugins/test_ps.o
src/plugins/test_ps.trs
src/plugins/test_riff
src/plugins/test_riff.log
src/plugins/test_riff.o
src/plugins/test_riff.trs
src/plugins/test_rpm
src/plugins/test_rpm.log
src/plugins/test_rpm.o
src/plugins/test_rpm.trs
src/plugins/test_s3m
src/plugins/test_s3m.log
src/plugins/test_s3m.o
src/plugins/test_s3m.trs
src/plugins/test_sid
src/plugins/test_sid.log
src/plugins/test_sid.o
src/plugins/test_sid.trs
src/plugins/test_thumbnailgtk
src/plugins/test_thumbnailgtk.log
src/plugins/test_thumbnailgtk.o
src/plugins/test_thumbnailgtk.trs
src/plugins/test_tiff
src/plugins/test_tiff.log
src/plugins/test_tiff.o
src/plugins/test_tiff.trs
src/plugins/test_wav
src/plugins/test_wav.log
src/plugins/test_wav.o
src/plugins/test_wav.trs
src/plugins/test_xm
src/plugins/test_xm.log
src/plugins/test_xm.o
src/plugins/test_xm.trs
src/plugins/test_zip
src/plugins/test_zip.log
src/plugins/test_zip.o
src/plugins/test_zip.trs
src/plugins/tiff_extractor.lo
src/plugins/tiff_extractor.o
src/plugins/wav_extractor.lo
src/plugins/wav_extractor.o
src/plugins/xm_extractor.lo
src/plugins/xm_extractor.o
src/plugins/zip_extractor.lo
src/plugins/zip_extractor.o
stamp-h1
test-driver

nothing added to commit but untracked files present (use "git add" to track)
src/plugins/test_thumbnailffmpeg
